$primary-color-1: #42a5f5;
$primary-color-2: #90CAF9;
$primary-bg-1: #101316;

.header-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #048af8;
    // backdrop-filter: blur(10px);
    // background: rgb(193, 26, 149);
    // background: linear-gradient(90deg, rgba(193, 26, 149, 1) 0%, rgba(218, 31, 9, 1) 35%, rgba(237, 199, 18, 1) 100%);
    padding: .5rem 1rem;
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    height: 4rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header-left-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    h1 {
        color: black;
    }

    span {
        font-size: 2rem;
        color: black;
    }
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: black;

    p {
        font-weight: bold;
        ;
    }

    img {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
    }
}

.header-2 {
    height: 4rem;
    width: 100%;
}

.nav-img {
    position: relative;
    cursor: pointer;
}

.nav-img-1 {
    position: absolute;
    background-color: white;
    padding: 1rem 0rem;
    top: 3.6rem;
    right: -.75rem;
    visibility: none;
    cursor: auto;
    width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 10px 10px;
    z-index: -2;
    // display: none;
    visibility: hidden;
    transition: all 200ms ease-in-out;

    a {
        color: black;
        cursor: pointer;
        text-align: center;
        width: 100%;
        padding: .5rem 2rem;
        user-select: none;

        p {
            gap: .75rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &:hover {
            background-color: rgb(199, 197, 197);
        }
    }
}

.nav-img:hover .nav-img-1 {
    // display: block;
    transition: all 200ms ease-in-out;
    visibility: visible;
}